<div class="app d-flex justify-content-center align-items-center flex-column">
    {{!-- sound effect --}}
    <div class="sound">
        <div>
            <button class="btnSound rain">
                <i class="fa-solid fa-cloud-rain"></i>
                <audio class="sound" id="sound--rain" src="/audio/rain.mp3"></audio>
            </button>
        </div>
        <div>
            <button class="btnSound cricket">
                <i class="fa-solid fa-bug"></i>
                <audio class="sound" id="sound--cricket" src="/audio/cricket.mp3"></audio>
            </button>
        </div>
        <div>
            <button class="btnSound city">
                <i class="fa-solid fa-car-side"></i>
                <audio class="sound" id="sound--city" src="/audio/city.mp3"></audio>
            </button>
        </div>
        <div>
            <button class="btnSound keyboard">
                <i class="fa-regular fa-keyboard"></i>
                <audio class="sound" id="sound--keyboard" src="/audio/keyboard.mp3"></audio>
            </button>
        </div>
    </div>

    <!-- header -->
    <header class="header">
        <nav class="navbar bg-transparent">
            <div class="container-fluid">
                <a class="navbar-brand text-uppercase">Pomodoro timer</a>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle border-0" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-solid fa-gear"></i>
                        Setting
                    </button>
                    <ul class="dropdown-menu">
                        <li><span class="dropdown-item timeAdjuster">Adjust time</span></li>
                    </ul>
                    <div class="time--adjust">
                        <div class="time-title d-flex flex-row justify-content-start">
                            <i class="fa-regular fa-clock"></i>
                            <h5>Timer</h5>
                        </div>
                        <hr>
                        <h6>Time (minutes)</h6>
                        <div class="d-flex flex-row justify-content-between time--adjust-main">
                            <div class="pomo-min">
                                <label for="">Pomodoro</label>
                                <input type="number" min="0" step="1" class="pomo-min__input" value="25">
                            </div>
                            <div class="break-min">
                                <label for="">Break</label>
                                <input type="number" min="0" step="1" class="break-min__input" value="5">
                            </div>
                        </div>
                        <button class="btn btn-time--adjust">Oke</button>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- content -->
    <div class="theme_picker">
        <button class="btn btn-theme-toggle">
            <h5 class="text-uppercase text-white">Your theme</h5>
        </button>
        <ul class="theme-picker__list">
            <li>
                <button class="btn btn-theme" data-theme="sunset">Sunset</button>
            </li>
            <li>
                <button class="btn btn-theme" data-theme="ocean">Ocean</button>
                </lig=>
            <li>
                <button class="btn btn-theme" data-theme="candy">Candy</button>
                </li320>
            <li>
                <button class="btn btn-theme" data-theme="herb">Herb</button>
                </li340>
            <li>
                <button class="btn btn-theme" data-theme="bee">Bee</button>
                </li360>
            <li>
                <button class="btn btn-theme" data-theme="netflix">Netflix</button>
                </li380>
            <li>
                <button class="btn btn-theme" data-theme="vozer">Vozer</button>
                </li400>
        </ul>
    </div>

    {{!-- music --}}
    <div class="music_picker">
        <ul class="music-picker__list">
            <li>
                <button class="btn btn-ring" data-ring="bell"><audio src="/audio/bell.mp3"
                        id="musicbell"></audio>Bell</button>
            </li>
            <li>
                <button class="btn btn-ring" data-ring="kb1"><audio src="/audio/kha-banh-ao-that-day.mp3"
                        id="musickb1"></audio>Kha
                    Banh 1</button>
            </li>
            <li>
                <button class="btn btn-ring" data-ring="kb2"><audio src="/audio/thoi-thoi-may-dung-co-boc-phet.mp3"
                        id="musickb2"></audio>Kha Banh
                    2</button>
            </li>
            <li>
                <button class="btn btn-ring" data-ring="among"><audio src="/audio/among.mp3"
                        id="musicamong"></audio>Among us</button>
            </li>
            <li>
                <button class="btn btn-ring" data-ring="ccl"><audio src="/audio/chi-co-lam.mp3"
                        id="musicccl"></audio>Huan
                    Rose</button>
            </li>
            <li>
                <button class="btn btn-ring" data-ring="happy"><audio src="/audio/happy-aye-sir.mp3"
                        id="musichappy"></audio>Happy</button>
            </li>
            <li>
                <button class="btn btn-ring" data-ring="cuh"><audio src="/audio/im-bout-to-cuh.mp3"
                        id="musiccuh"></audio>Cuhh</button>
            </li>
            <li>
                <button class="btn btn-ring" data-ring="jojo"><audio src="/audio/jojo.mp3"
                        id="musicjojo"></audio>JoJo</button>
            </li>
        </ul>

        <button class="btn btn-music-toggle">
            <h5 class="text-uppercase text-white">Break sound</h5>
        </button>
    </div>

    {{!-- timer --}}
    <div class="container content mt-4 d-flex flex-row justify-content-center align-items-center">
        <div class="timer d-flex flex-row justify-content-center align-items-center jersey-15-regular">
            <p class="minute"></p>
            <p>:</p>
            <p class="second"></p>
        </div>
        <div class="break d-flex flex-row justify-content-center align-items-center jersey-15-regular">
            <p class="minBreak"></p>
            <p>:</p>
            <p class="secBreak"></p>
        </div>
    </div>
    <div class="count mt-4">
        <p id="countPomo"></p>
    </div>

    <!-- footer -->
    <footer class="footer mt-4">
        <button class="btn start" type="button">
            <p>Start</p>
        </button>
    </footer>

    <div class="author ">
        <p> A small project by <span>pearlde_bink.</span></p>
        <ul>
            <li><a href="https://www.facebook.com/profile.php?id=100073646817374"><i
                        class="fa-brands fa-facebook"></i></a></li>
            <li><a href="https://www.instagram.com/pearlde_bink/"><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href="https://github.com/pearlde-bink"><i class="fa-brands fa-github"></i></a></li>
        </ul>
    </div>
</div>
<script src="/js/index.js"></script>